<header>
    <div class="d-block  d-md-flex top-bar text-center justify-content-between  ">
        <div class="social-icons">
            <i class="fa-solid fa-phone"></i>
            <i class="fa-regular fa-envelope"></i>
            <i class="fa-brands fa-whatsapp"></i>
            <i class="fa-solid fa-spell-check"></i>
        </div>
        <ul class="navbar-nav top-item  d-flex flex-row justify-content-center p-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#"> انضم الينا كمدرب</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">مجتمعنا</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">اراء العملاء</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"> شركاؤنا</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"> عملاؤنا</a>
            </li>
          </ul>
    </div>


</header>

<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src="assets/images/logo.png" class="logo" alt=""></a>
      <a class="training nav-link" routerLink="/"><i class="fa-solid fa-cubes"></i> البرامج التدريبيه</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 p-0">
          
          <li class="nav-item">
            <a class="nav-link" routerLink="/"  routerLinkActive="activeLink">الرئيسيه</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/"  routerLinkActive="activeLink">المدونة</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/"  routerLinkActive="activeLink">من نحن</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/"  routerLinkActive="activeLink">اتصل بنا</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/"  routerLinkActive="activeLink">خدمات الشركه</a>
          </li>
        </ul>

        <a href="" class="logIn m-0"> <i class="fa-regular fa-user"></i> تسجيل الدخول</a>
      </div>
    </div>
</nav>
