
<main class="container home">
    <app-header></app-header>
    <div class="row my-4">
        <div class="col-12 col-md-7">
            <div class="intro my-3">
                <span>مرحبا</span>
                <br>
                <strong class="fs-2 text-body">طور مهاراتك مع<br> معهد ابتكار المعرفة العالي للتدريب.</strong>
                <br>
                <p class="mt-3">
                    هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها. ولذلك يتم استخدام طريقة لوريم إيبسوم لأنها تعطي توزيعاَ طبيعياَ -إلى حد ما- للأحرف عوضاً عن استخدام "هنا يوجد محتوى نصي ، هنا يوجد محتوى نصي.
                </p>
            </div>
            <div class="main-form-container">
                <form id="" class="d-flex position-relative" method="post">
                    <div class="position-relative w-100">
                        <input type="search" name="" class="form-control " placeholder="ابحث عما تريد" id="">
                        <i class="fa-solid fa-magnifying-glass position-absolute search-icon serachIcon"></i>
                    </div>
                    <i class="fa-solid fa-table-cells-large category-icon position-absolute"></i>
                    <select name="" id="" class="form-select">
                        <option disabled selected>اختر الفئة</option>
                        <option value="1">1</option>
                        <option value="1">1</option>
                    </select>        
                    <button type="submit" class="btn">
                        <i class="fa-solid fa-magnifying-glass ms-1 search-icon"></i> بحث
                    </button>
                </form>
                
              </div>
        </div>
        <div class="col-12 col-md-5">
            <div class="img-background">
                <img src="assets/images/mainBg.jfif" class="img-fluid" alt="">
            </div>
        </div>
    </div>
    <span class="videoPlay">
        <i class="fa-solid fa-play fs-3"></i>
    </span>
</main>
